body {
    background: #edf9f9;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.ui.main.container {
    padding-top: 50px;
}

.top30{
    top: 40px;
}

.div-hover:hover{
    background-color: #CCCCCC;
}

#toppage-title{
    font-size: 6rem;
    line-height: 4.3rem;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

a.logo {
    font-family: 'Exo', sans-serif;
    color: #f33;
}

.bland-message {
    font-family: 'Exo', sans-serif;
    font-weight: 550;
    font-size: 36px;
    margin-top: 30px;
}

div.center.column {
    text-align: left;
    max-width: 650px;
}

.statement {
    background-color: rgba(255, 210, 210, .5);
    border-radius: .28571429rem;
    padding: 10pt;
    font-size: 1em;
    color: red;
}

.register {
    color: #0066CC;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

ul.label {
    list-style-type: none;
}

.field {
    text-align: left;
}

.number {
    text-align: right;
    vertical-align: middle !important;
    width: 100px !important;
}

.unit {
    vertical-align: middle;
}

.dropdown:hover > .menu {
    display: flex;
}

.photo-show {
    height: 300px;
    margin: auto;
    max-width: 100%;
    position: relative;
    width: 440px;
}

.photo-show img {
    animation: show 9s infinite;
    height: auto;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes show {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
}

.photo-show img:nth-of-type(1) {
    animation-delay: 0s;
}

.photo-show img:nth-of-type(2) {
    animation-delay: 3s;
}

.photo-show img:nth-of-type(3) {
    animation-delay: 6s;
}

.photo-show img {
    transition: 0.2s;
}

.photo-show:hover img {
    animation-play-state: paused;
}

.error-message {
    color: #ff0000;
}

.index-block{
    margin: 0 auto;
    width: 800px;
    justify-content:space-around;
    display: flex;
}

.index-icon {
    padding:0.5em 1em;
    margin:2em 0;
    font-weight:bold;
    background:#FFF;
    border-radius:10px;
    width: 250px;
    height: 300px;
}

.index-text{
    position:relative;
    text-align:left;
    margin:0;
    padding:0;
}

.index-button {
    display: inline-block;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    line-height: 1em;
    border-radius: .28571429rem;
    position:relative;
    color: #FFF;
}

.acceptance-icon {
    padding:0.5em 1em;
    margin:0 auto;
    background:#FFF;
    border-radius:10px;
    width: 250px;
}

.user-block{
    margin: 30px;
    width: 800px;
    text-align: center;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

td {
    width: 400px;
}

.header-height{
    height: 80px;
    float: right;
    margin-left: auto;
}

.main-conteiner-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}

.header-a{
    font-size: 16px;
}

.header-a:hover{
    background-color: #CCCCCC;
}

.toppage-icon{
    line-height: 85px;
    font-size: 18px;
    padding-left: 40px;
    vertical-aline: middle;
}

.p-copyright{
    height: 50px;
    width: 100%;
    background: gray;
    position: fixed;
    bottom: 0;
    right: 0;
}

.copyright{
    text-align: center;
    color: white;
    line-height: 50px;
}

#acceptance-conteiner{
    padding-top: 120px;
    padding-bottom: 80px;
}

#user-conteiner{
    padding-top: 120px;
    padding-bottom: 80px;
}

#job-conteiner{

    padding-top: 120px;
    padding-bottom: 80px;
}

#completed-conteiner{
    padding-top: 120px;
}

.header-flex;{
    display: flex;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

#lady-button{
    top:42px;
}

#byouki-lady{
    top: 10px;
}

.AI-chat{
    background-color: gray;
    height: 200px;
    width: 100px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-align: center;
}

#tokuyaku-lady{
    top: 20px;
}

.AI-chat-div{
    display: none;
    background-color: gray;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    right: 20%;
}

.AI-chat-sp{
    color: white;
    text-align: center;
    padding-top: 35px;
}

.none1200{
    float: right;
    padding-top: 28px;
}

.icon-flex{
    display: flex;
}

.3types{
    display: none!important;
    text-align: center;
}

.sp-desc{
    display: none;
}


@media screen and (max-width: 1370px){
    .totop{
        display: none!important;
    }
}

@media screen and (max-width: 1280px){
    .AI-chat{
        display: none;
    }
    .AI-chat-div{
        display: block;
    }
}

@media screen and (max-width: 1200px){
    .none1200{
        display: none!important;
    }
}

@media screen and (max-width: 1050px){
    .header-a{
        font-size: 14px;
    }
    .header-height{
        height: 60px;
    }
    .toppage-icon{
        line-height: 0;
        padding-top: 10px;
    }
}

@media screen and (max-width: 930px){
    .index-block{
        display: block!important;
        margin: 0 auto;
    }

    .sp-flexbox{
        display: flex;
    }

    .whatquestion{
        display: none!important;
    }

    .AI-chat-div{
        right: 13%;
    }

    .sp-desc{
        display: block!important;
    }

    .index-icon{
        width: 30%;
    }

    .sp-desc{
        padding-top: 35px;
        width: 43%;
        margin-left: 8%;
    }
}

@media screen and (max-width: 740px){
    .sp-desc{
        width: 43%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 675px){
    3types{
        display: block;
    }

    .header-tele{
        display: none!important;
    }

    .sp-desc{
        width: 30%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 664px){
    .AI-chat-div{
        top: 40%;
        right: 8%;
    }
}

@media screen and (max-width: 570px){
    .sp-desc{
        display: none!important;
    }

    .index-icon{
        width: 56%;
        height: 200px;
        display: flex;
    }

    .hoken-icon{
        width: 50%;
        padding-top: 30px;
    }

    .lady-icon{
        margin-left: -66px;
    }

    .index-text{
        float: right;
    }


    .index-button{
        float: right;
        height: 40px;
        margin-left: -138px;
    }

    #treat-lady{
        height: 240px;
    }

    .gan-button{
        margin-left: -100px;
    }

    #lady-button{
        top: 125px;
        left: -59px;
        width: 110px;
    }

    #byouki-lady{
        top: 50px;
        left: -89px;
    }

    #tokuyaku-lady{
        left: -34px;
        top: -110px;
    }
}

@media screen and (max-width: 560px){
    .AI-chat-div{
        right: 6%;
        width: 90px;
        height: 90px;
    }

    .AI-chat-sp{
        font-size: 10px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 520px){
    width
}

@media screen and (max-width: 500px){
    .AI-chat-div{
        top: 45%;
        font-size: 9px;
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 465px){
    #toppage-title{
        font-size: 5rem;
    }

    .header-a{
        font-size: 12px;
    }
    .toppage-icon{
        padding-left: 10px;
    }
}

@media screen and (max-width: 380px){
   .AI-chat-div{
       top: 40%;
       font-size: 9px;
       width: 70px;
       height: 70px;
   }

   .AI-chat-sp{
        padding-top: 23px;
        font-size: 8px;
   }

    .hoken-icon{
        width: 42%;
        margin-left: -45px;
    }

    .index-box{
        width: 820px;
    }

    .index-icon{
        height: 170px;
    }

    #treat-lady{
        height: 180px;
    }

    .index-button{
        width: 115px;
    }

    #tokuyaku-lady{
        width: 150px;
        word-wrap: break-word;
    }

    #byouki-lady{
        top: 57px;
        left: -46px;
    }
   .sp-flexbox{
        width: 73%;
   }

   #lady-button{
        width: 120px;
        left: -32px;
        top: 100px;
   }
}