<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="ui fixed menu header-flex" th:fragment="header">
    <div>
        <a href="/" class="toppage-icon"><img src="/img/favicon.png">&nbsp;&nbsp;&nbsp;TISCON保険</a>
    </div>
    <div class="container header-height">
        <a href="/" class="header item logo header-a"><i class="fas fa-home"></i>&nbsp;&nbsp;トップページへ</a>
        <a href="#" class="header item logo header-a"><i class="fas fa-yen-sign"></i>&nbsp;&nbsp;保険料シュミレーション</a>
        <a href="#" class="header item logo header-a"><i class="fas fa-question-circle"></i>&nbsp;&nbsp;どんな保険に加入すればいいの？</a>
        <a href="#" class="header item logo header-a"><i class="fas fa-edit"></i>&nbsp;&nbsp;資料請求はこちらから</a>
        <a href="tel:03-1234-5678" class="header item logo header-a"><i class="fas fa-phone-volume"></i>&nbsp;&nbsp;お電話でのお問い合わせ</a>
    </div>
</nav>
</body>
</html>